<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript" src="/{{ site.root }}/js/jquery-1.8.1.min.js"></script>
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/{{ site.root }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/{{ site.root }}/css/main.css">

    </head>
    <body>
      <div class="site">
        <div class="header">
          <h1 class="title"><a href="/{{ site.root }}/">{{ site.name }}</a></h1>
          <a class="extra" href="/{{ site.root }}/">Home</a>
          <a class="extra" href="/{{ site.root }}/methods">Methods</a>
          <a class="extra" href="/{{ site.root }}/taxonomy">Taxonomy</a>
          <a class="extra" href="/{{ site.root }}/downloads">Downloads</a>
          <a class="extra" href="/{{ site.root }}/subsets">Phylogeny Subsets</a>            
        </div>

        {{ content }}

        <div class="footer">
          <div class="contact">
            <p>
              <a href="mailto:info@birdtree.org">info@birdtree.org</a>
            </p>
          </div>
        </div>
      </div>
    </body>
</html>
